.itemContainer{
    position: relative;
    border: 2px solid #092655 !important;
    background-color: #010409 !important;
    border-radius: 15px !important;
    padding: 10px;
    min-height: 1000px;
    min-width: 300px;
    width: 300px;
}
.itemContainer_footer{
    color: red;
    position: relative;
    bottom: 0;
}
.header{
    position: relative;
    border: 2px solid #092655 !important;
    border-radius: 15px !important;
    background-color: #010409 !important;
    padding: 15px;
    margin: 20px 0 20px 0;
}